.comment-and-username {
    background-color: #FFFFA8;
    font-style: italic;
}

h1, h2 {
    color: #A4A400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 22pt;
}

h2 {
    display: inline-block;
    background-color: #F0F0F0;
    font-size: 18pt;
}
#title {
    
    background-color: #F0F0F0;
}
ul {
    list-style-image: url("../images/recipeImages/pie_bullet.png");
}
body{
    background-image: url("../images/recipeImages/silverware.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: white;
    color:#404040;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #A4A400;
}

span {
    font-weight: bold;
}

#copyright {
    text-align: left;
}

#copyright-details {
    display: inline-block;
    text-align: right;
}